---
import { CldImage } from 'astro-cloudinary';

interface Props {
  width: string;
  height: string;
  src: string;
  alt: string;
  resize?: string;
  cornerRadius?: number;
  gravity?: string;
  errorImage?: string;
  caption?: string;
  class?: string;
}

const { 
  width, 
  height, 
  src, 
  alt, 
  // resize = "fill", 
  gravity, 
  // errorImage = "NotFound.svg",
  caption,
  class: className = '',
} = Astro.props;

const containerClasses = `mx-auto my-8 max-w-7xl px-4 sm:px-6 lg:px-8 ${className}`;
---

<div class={containerClasses}>
  <div class="max-w-4xl mx-auto">
    <CldImage
      class="rounded-lg w-full"
      width={parseInt(width)}
      height={parseInt(height)}
      alt={alt}
      src={src}
      gravity={gravity as "auto" | "face" | undefined}
      sizes="(max-width: 768px) 100vw, 1000px"
    />
    {caption && 
      <p class="avenir-light italic text-[10px] text-gray-600 dark:text-slate-400 mt-2 text-right">{caption}</p>
    }
  </div>
</div>
